{% extends 'base.html' %}

{% block main_content %}
    <h1>Customer List</h1>

    {% if perms.core.add_customer %}
        <a href="{% url 'customer-create' %}">Crear Cliente</a>
    {% endif %}

    {% if customer_list %}
        <ul>
            {% for customer in customer_list %}
            <li>
                <a href="{% url 'customer-detail' customer.id %}">{{ customer }}</a>
                <a href="{% url 'customer-update' customer.id %}">Editar</a>
            </li>
            {% endfor %}
        </ul>
    {% else %}
    {% endif %}
{% endblock %}